@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding: 4rem;
  }
}

@theme {
  --font-heading: 'Playfair Display', serif;
  --font-sans: 'Inter', sans-serif;
}